# ==========================
# React
# ==========================

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# ==========================
# Spring Boot
# ==========================

backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/.classpath
backend/.project
backend/.settings/
backend/.factorypath
backend/.idea/
backend/*.iml
backend/.env

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Environment Files
# ==========================

.env
.env.local

# Secrets
.env
.env.*
