.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 90vh;
    width:100%; */
    background:purple;
    color: white;
    /* margin-left: 445px;
    margin-top: 30px; */
    padding-left: 10px;
  }
  .answerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
  }
  .NextButton {
    text-decoration: none;
    color: rgb(20, 3, 3);
    width: 100px;
    height: 20px;
    background: white;
    text-align: center;
  }
  .buttonClicked {
    background: red;
  }
  .original {
    background: white;
  }
  