.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
}
.answerView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  color: white;
  padding: 20px;
}
#ans1 {
  background: #1c217a;
  width: 180px;
  margin-top: 20px;
}
#ans2 {
  background: #1c217a;
  width: 180px;
  margin-top: 20px;
}
#ans3 {
  background: #1c217a;
  width: 180px;
  margin-top: 20px;
}
#ans4 {
  background: #1c217a;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.detailButton {
  margin-top: 10px;
  margin-bottom: 20px;
}
.ansHeading {
  margin-bottom: 20px;
}
.ansCorrect {
  margin-top: 20px;
  margin-bottom: 20px;
}
.restartButton {
  color: rgb(248, 237, 237);
  background: #1c217a;
  width: 150px;
  height: 35px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}
