.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:purple;
  height: 100vh;
  width: 100%;
  color: white;
  font-size:20px;
}
.SubContainer {
  display: flex;
  flex-direction: column;
}
#nameField {
  margin-bottom: 10px;
  width: 220px;
  height: 30px;
  font-size: 25px;
  color:grey;
}
.startButton {
  width: 100px;
  height: 25px;
  margin-left: 50px;
  text-decoration: none;
  color: rgb(20, 3, 3);
  background:violet;
  text-align: center;
}

.quizHeading{
  margin-bottom:10px;
}
.userName{
  margin-bottom:10px;
}